
@{
    ViewBag.Title = "Create";
}

<head>
    <link href="~/Content/create and Error.css" rel="stylesheet" />

</head>

<h1 style="font-family:'Comic Sans MS'; font-size:larger">Login Successful</h1>

